<div>
<div class="card text-center">
  <div class="card-header">
    <h1>Angular hotel-form</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h3 class="title1"><i>Расчёт цен оформления мест в абстрактную гостницу</i></h3>
	  <div class='card-spec-list'>
      <p>Стоимость учитывается за одни сутки</p>
	  <p>Дети до 5 лет бесплатно</p>
	  <p>Детям до 12 лет скидка (см.подробнее)</p>
	  <p>На одного взрослого не более трёх детей до 5 лет</p>
	  </div>
      <footer class="blockquote-footer">Внимательно выбирайте <cite title="Source Title">тариф</cite></footer>
    </blockquote>
  </div>
</div>
<h2 class="text-center mt-4 mb-4">Тарифы</h2>
<div class="row col-12 justify-content-between mt-4 mb-3 ml-0 mr-0 card-container">
  <div *ngFor="let card of data; let i=index">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Даты отдыха:</h5>
        <p class="card-text">{{card.date_from}}.2019 по {{card.date_to}}.2019</p>
		<h5 class="card-title">Стоимость тарифов:</h5>
		<p class="card-text">Эконом: {{card.econom}} рублей</p>
		<p class="card-text">Стандартный: {{card.standart}} рублей</p>
		<p class="card-text">Люкс: {{card.lux}} рублей</p>
		<h4 class="card-title" *ngIf="card.isReading">Скидка на ребёнка до 12 лет:</h4>
		<p class="card-text" *ngIf="card.isReading">{{card.child_discount_perc}}%</p>
        <a href="#" class="btn btn-primary" (click)=" seeDiscard(i)">Подробнее</a>
      </div>
    </div>
  </div>
</div>
</div>
