
    <form [formGroup]="hotelCalcForm" (submit)="calculate()">
        <label for="name">Количество взрослых</label>
        <input type="number" id="number" formControlName="adultsCount" required />
        <br/><br/>
        <label for="name">Количество детей старше 12 лет</label>
        <input type="number" id="number" formControlName="childMiddleAgeCount" required/>
        <br/><br/>
        <label for="name">Количество детей от 5 до 12 лет</label>
        <input type="number" id="number" formControlName="childSmallAgeCount" required/>
        <br/><br/>
        <select formControlName="selectedPeriod">
          <option *ngFor="let summary of selectedIntervals" value={{summary}}>
            {{summary}}
          </option>
        </select>
        <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field> -->
        <section>
            <h2>Выберите даты отдыха:</h2>
            <mat-form-field>
                <input matInput
                       placeholder="Выберете корректную дату"
                       [satDatepicker]="picker2"
                       formControlName="date">
                <sat-datepicker #picker2 [rangeMode]="true">
                </sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
            </mat-form-field>
        </section>
        <br/><br/>
        <button type="submit">Рассчитать</button>
        <br/><br/>
          <p *ngIf="!isCalculated && isChildChecked">{{titlePrice}}</p>
          <p *ngIf="isCalculated">Итоговая сумма: {{titlePrice}} рублей</p>
        <br/><br/>
        <div class="error" *ngIf="isControlInvalid('adultsCount')">
            Заполните положительное целое число
            </div>
            <div class="error" *ngIf="isControlInvalid('childMiddleAgeCount')">
                Заполните положительное целое число
            </div>
            <div class="error" *ngIf="isControlInvalid('childSmallAgeCount')">
            Заполните положительное целое число
              </div>
		<div class="error" *ngIf="!isChildChecked">
            На одного взрослого не более трёх детей до 5 лет!
              </div>
      </form>
      <app-user-form
      *ngIf="isCalculated"
      [adultCount]="adultCount"
      [middleChildCount]="middleChildCount"
      [littleChildCount]="littleChildCount"
      [period]=" period"
      ></app-user-form>



