<div class="container-fluid col-8">
<h2 class="text-center mt-2 mb-4">Заполните форму</h2>
  <form class="mb-4" [formGroup]="hotelCalcForm" (submit)="calculate()">
    <div class="form-group">
      <label for="InputNumberAdult">Количество взрослых</label>
      <input type="number" class="form-control" id="InputNumberAdult" formControlName="adultsCount" required />
    </div>
    <div class="form-group">
      <label for="InputNumberMiddle">Количество детей старше 12 лет</label>
      <input type="number" class="form-control" id="InputNumberMiddle" formControlName="childMiddleAgeCount" required />
    </div>
    <div class="form-group">
      <label for="InputNumberLittle">Количество детей от 5 до 12 лет</label>
      <input [class.error-border]="!isChildChecked" type="number" class="form-control" id="InputNumberLittle"
        formControlName="childSmallAgeCount" required />
    </div>
    <div class="form-group">
      <label for="FormControlSelect">Выберите тариф отдыха:</label>
      <select class="form-control" id="FormControlSelect" formControlName="selectedPeriod">
        <option *ngFor="let summary of selectedIntervals" value={{summary}}>
          {{summary}}
        </option>
      </select>
    </div>
    <section class="date-picker-border">
      <p>Выберите даты отдыха между 15 мая и 15 сентября:</p>
      <mat-form-field>
        <input matInput placeholder="Выберите даты отдыха:" [satDatepicker]="picker2" formControlName="date">
        <sat-datepicker #picker2 [rangeMode]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
      </mat-form-field>
	  <p>При повторном изменении даты не забудьте ещё раз нажать кнопку "рассчитать"</p>
    </section>
    <button type="submit" class="btn btn-primary">Рассчитать</button>
    <br/><br/>
    <p [@slideInLeft] class="error" *ngIf="!isCalculated && isChildChecked" [@slideInLeft]>{{titlePrice}}</p>
    <p *ngIf="isCalculated" [@slideInLeft]>Итоговая сумма: {{titlePrice}} рублей</p>
    <div class="error">
      <p *ngIf="isControlInvalid('adultsCount')"> Заполните положительное целое число <p>
          <p *ngIf="isControlInvalid('childMiddleAgeCount')" [@slideInLeft]>Заполните положительное целое число<p>
              <p *ngIf="isControlInvalid('childSmallAgeCount')" [@slideInLeft]>Заполните положительное целое число<p>
                  <p *ngIf="!isChildChecked" [@slideInLeft]>На одного взрослого не более трёх детей до 5 лет!<p>
    </div>
  </form>
  <app-user-form [@slideInLeft] *ngIf="isCalculated" [adultCount]="adultCount" [middleChildCount]="middleChildCount"
    [littleChildCount]="littleChildCount" [date]="date" [period]="period" [titlePrice]="titlePrice"></app-user-form>
</div>
